#container1 {
    width: 300px;
    height: 250px;
    position: relative;
}
/*.wrapper {
    border: 1px solid #C2C2C2;
}*/
.content {
    position: relative;
    overflow: auto;
    padding: 10px 12px 10px 10px;
    font-family: Arial;
    font-size: 12px;
}
.input-style {
    margin: 5px 0 8px 0;
}
.validation-error {
    margin: 0;
	padding: 0;
	color: rgb(255, 34, 34);
	font-size: 11px;
	font-style: italic;
}
.input-radio-wrapper {
    float: left;
    min-width: 70px;
    height: 15px;
    margin: 0 10px 10px 0;
}
.leadgen {
    overflow : auto;
}
.ssb_st {
    background: white;
}
label {
    line-height: 30px;
}
input {
    width: 100%;
    height: 28px;
	border: 1px solid #D2CCCC;
    border-radius: 5px;
    padding: 0 5px;
    margin: 0 0 13px 0;
    font-family: Arial;
    font-style: italic;
    font-size: 12px;
}
textarea {
    width: 100%;
    height: 70px;
	border: 1px solid #D2CCCC;
    border-radius: 5px;
    padding: 5px;
    margin: 0 0 7px 0;
    font-family: Arial;
    font-style: italic;
	font-size: 12px;
}
#input-type-combo {
    background: #282e3a url(../images/bottom-arrow-black.png) no-repeat right;
    background-size: 24px;
    cursor: pointer;
}
#input-type-date {
    background: #282e3a url(../images/calendar.png) no-repeat 98%;
    background-size: 24px;
    cursor: pointer;
}
input[type="radio"], input[type="checkbox"] {
    width: auto;
    height: 13px;
    margin-right: 5px;
}
input[type="button"] {
    width: 110px;
    height: 30px;
    margin-top: 10px;
    border-radius: 8px;
}
input[type='number'] {
    -moz-appearance:textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.close {
    position: absolute;
    top: 5px;
    right: 15px;
    transition: all 200ms;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #ffffff;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(60, 60, 60, 0.8);
}
.popup {
    overflow: hidden;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #000000;
    position: relative;
    width: 90%;
    height: 90%;
    margin: 5% auto;
}
.success-popup {
    width: 100%;
    height: 100%;
}
.popup-date {
    overflow: hidden;
    width: 90%;
    height: 90%;
    margin: 5% auto;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #000000;
    position: relative;
}
.popup .popup-content {
    overflow: hidden;
}
.success-popup .popup-content {
    text-align: center;
    font-size: 18px;
    vertical-align: middle;
}
.countries-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.country-li {
    height: 40px;
	line-height: 40px;
	padding: 0px 10px;
	/* margin: 0px 0; */
	border-bottom: 1px solid #E4DEDE;
	font-family: arial;
	font-size: 12px;
}
.country-li:last-child {
    border: none;
}
.country-li:hover {
    cursor: pointer;
}

/*!
 * Pikaday
 * Copyright © 2014 David Bushell | BSD & MIT license | http://dbushell.com/
 */

.pika-single {
    z-index: 9999;
	display: block;
	position: relative;
	color: #6785A9;
	background: #fff;
	font-family: arial;
	/* font-style: normal; */
	font-size: 14px;
}

/*
clear child float (pika-lendar), using the famous micro clearfix hack
http://nicolasgallagher.com/micro-clearfix-hack/
*/
.pika-single:before,
.pika-single:after {
    content: " ";
    display: table;
}
.pika-single:after { clear: both }
.pika-single { *zoom: 1 }

.pika-single.is-hidden {
    display: none;
}

.pika-single.is-bound {
    position: absolute;
    box-shadow: 0 5px 15px -5px rgba(0,0,0,.5);
}

.pika-lendar {
    float: left;
    width: 100%;
}

.pika-title {
    /*border-bottom: 1px solid #000000;*/
	position: relative;
	text-align: center;
	background-color: #F4F4F4;
    padding-top: 3px;
}

.pika-label {
    display: inline-block;
	position: relative;
	z-index: 9999;
	overflow: hidden;
	margin: 0;
	padding: 5px 8px;
	margin: 2px 2px;
	font-size: 12px;
	line-height: 16px;
	font-weight: bold;
	/* background-color: #e0e0e0; */
	border-radius: 5px;
	border: 1px solid #DDDDDD;
}
.pika-title select {
    cursor: pointer;
    position: absolute;
    z-index: 9998;
    margin: 0;
    left: 0;
    top: 5px;
    filter: alpha(opacity=0);
    opacity: 0;
}

.pika-prev,
.pika-next {
    display: block;
    cursor: pointer;
    position: relative;
    outline: none;
    border: 0;
    padding: 0;
    width: 20px;
    height: 30px;
    /* hide text using text-indent trick, using width value (it's enough) */
    text-indent: 20px;
    white-space: nowrap;
    overflow: hidden;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 75% 75%;
    opacity: .5;
    *position: absolute;
    *top: 0;
}

.pika-prev:hover,
.pika-next:hover {
    opacity: 1;
}

.pika-prev,
.is-rtl .pika-next {
    float: left;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAUklEQVR42u3VMQoAIBADQf8Pgj+OD9hG2CtONJB2ymQkKe0HbwAP0xucDiQWARITIDEBEnMgMQ8S8+AqBIl6kKgHiXqQqAeJepBo/z38J/U0uAHlaBkBl9I4GwAAAABJRU5ErkJggg==');
    *left: 0;
}

.pika-next,
.is-rtl .pika-prev {
    float: right;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAU0lEQVR42u3VOwoAMAgE0dwfAnNjU26bYkBCFGwfiL9VVWoO+BJ4Gf3gtsEKKoFBNTCoCAYVwaAiGNQGMUHMkjGbgjk2mIONuXo0nC8XnCf1JXgArVIZAQh5TKYAAAAASUVORK5CYII=');
    *right: 0;
}

.pika-prev.is-disabled,
.pika-next.is-disabled {
    cursor: default;
    opacity: .2;
}

.pika-select {
    display: inline-block;
    *display: inline;
}

.pika-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 0;
}

.pika-table th,
.pika-table td {
    width: 14.285714285714286%;
    padding: 0;
}

.pika-table th {
    color: #000000;
	line-height: 25px;
	font-weight: normal;
	text-align: center;
	font-family: arial;
	font-size: 12px;
	background: rgb(208, 218, 255);
	/* padding-bottom: 5px; */
}

@-moz-document url-prefix() {
    .pika-button {
        cursor: pointer;
        display: block;
        box-sizing: border-box;
        outline: none;
        border: 0;
        margin: 0;
        width: 100%;
        padding: 5px 8px 5px 5px !important;
        color: #ffffff;
        font-size: 13px;
        line-height: 14px !important;
        text-align: right;
        background: #ffffff;
    }
}

.pika-button {
    cursor: pointer;
    display: block;
    box-sizing: border-box;
    outline: none;
    border: 0;
    margin: 0;
    width: 100%;
    padding: 6px 10px 6px 4px;
    color: #000000;
    font-size: 13px;
    line-height: 14px;
    text-align: right;
    background: #ffffff;
}

.pika-week {
    font-size: 11px;
    color: #999;
}

.is-today .pika-button {
    color: #FF0000;
	/*background-color: #8CABF9;*/
	/* border: 1px solid #4BF08C; */
	/*border-radius: 5px;*/
	font-weight: bold;
}

.is-selected .pika-button {
    color: #fff;
    font-weight: bold;
    background: #33aaff;
    box-shadow: inset 0 1px 3px #178fe5;
    border-radius: 3px;
}

.is-disabled .pika-button {
    cursor: default;
    color: #999;
    opacity: .3;
}

.pika-button:hover {
    color: #fff !important;
    background: #20b571 !important;
    box-shadow: none !important;
	border-radius:5px;
}

/* styling for abbr */
.pika-table abbr {
    border-bottom: none;
    cursor: help;
}

.ssb_sb {
    background:#ffffff;
    border-style: none !important;
    cursor:pointer;
    position:absolute;
    right:4px;
    border-radius: 5px;
    background-color: #D7D7D7 !important;
}
.ssb_st {
    cursor:pointer;
    height:100%;
    position:absolute;
    right:0;
    top:0;
}


