@keyframes hand-icon {
	from {
		bottom: 124px;
        left: 90px;
	}
	to {
		bottom: 200px;
		left: 55px;
		opacity: 0.2;
	}
}

@-webkit-keyframes hand-icon {
	from {
		bottom: 124px;
        left: 90px;
	}
	to {
		bottom: 200px;
		left: 55px;
		opacity: 0.2;
	}
}

@-moz-keyframes hand-icon {
	from {
		bottom: 124px;
        left: 90px;
	}
	to {
		bottom: 200px;
		left: 55px;
		opacity: 0.2;
	}
}

@keyframes hand-icon-above {
	from {
		bottom: 400px;
		left: 70px;
	}
	to {
		bottom: 80px;
		left: 180px;
		opacity: 0.4;
	}
}

@-webkit-keyframes hand-icon-above {
	from {
		bottom: 400px;
		left: 70px;
	}
	to {
		bottom: 80px;
		left: 180px;
		opacity: 0.4;
	}
}

@-moz-keyframes hand-icon-above {
	from {
		bottom: 400px;
		left: 70px;
	}
	to {
		bottom: 80px;
		left: 180px;
		opacity: 0.4;
	}
}

.hand-icon-animation {
	animation: hand-icon 2s infinite;
	-webkit-animation: hand-icon 2s infinite;
	-moz-animation: hand-icon 2s infinite;
}

.hand-icon-animation-top {
	animation: hand-icon-above 4s infinite;
	-webkit-animation: hand-icon-above 4s infinite;
	-moz-animation: hand-icon-above 4s infinite;
}